In [1]:
a = {1,2,3,4}
b = {4}
print(len(a&b))

1

In [2]:
import yfinance as yf

In [3]:
data = yf.download("AAPL ALGN EPAM", start="2022-01-01")['Adj Close']
data.head()

[*********************100%***********************]  3 of 3 completed

                  AAPL        ALGN        EPAM
Date
2021-12-31  175.795349  657.179993  668.450012
2022-01-03  180.190994  648.049988  642.200012
2022-01-04  177.904053  623.500000  618.710022
2022-01-05  173.171814  578.840027  587.799988
2022-01-06  170.281021  567.619995  579.049988

In [4]:
tickers_info = yf.Tickers("AAPL ALGN EPAM")
tickers_info.tickers['AAPL'].info

{'regularMarketPrice': None, 'preMarketPrice': None, 'logo_url': ''}

In [6]:
sp10="AAPL MSFT AMZN GOOGL GOOG TSLA NVDA BRK-B FB UNH"
def get_data(stock):
    data = yf.download(stock, start="2022-01-04", end="2022-01-15")
    return data['Adj Close']

In [7]:
data = get_data(sp10)
data.head(10)

[*********************100%***********************]  10 of 10 completed

1 Failed download:
- FB: No data found, symbol may be delisted

,AAPL,AMZN,BRK-B,FB,GOOG,GOOGL,MSFT,NVDA,TSLA,UNH
Date,,,,,,,,,,
2022-01-03 00:00:00,180.190964,170.404495,300.790009,NaN,145.074493,144.991501,329.394867,300.821655,399.926666,490.239929
2022-01-04 00:00:00,177.904053,167.522003,308.529999,NaN,144.416504,144.399506,323.746704,292.522308,383.196655,479.132751
2022-01-05 00:00:00,173.171814,164.356995,309.920013,NaN,137.653503,137.774994,311.318756,275.684082,362.706665,477.951721
2022-01-06 00:00:00,170.281021,163.253998,313.220001,NaN,137.550995,137.747498,308.858704,281.416656,354.899994,458.392090
2022-01-07 00:00:00,170.449310,162.554001,319.779999,NaN,137.004501,137.016998,309.016174,272.118591,342.320007,447.606995
2022-01-10 00:00:00,170.469101,161.485992,318.929993,NaN,138.574005,138.669495,309.242493,273.646667,352.706665,453.853546
2022-01-11 00:00:00,173.330231,165.362000,319.799988,NaN,140.017502,139.735992,309.941162,277.811340,354.799988,457.757660
2022-01-12 00:00:00,173.775726,165.207001,320.390015,NaN,141.647995,141.430496,313.178497,279.628937,368.739990,462.364594
2022-01-13 00:00:00,170.469101,161.214005,321.260010,NaN,139.130997,138.587006,299.923981,265.407318,343.853333,456.225311
2022-01-14 00:00:00,171.340347,162.138000,324.130005,NaN,139.786499,139.480499,305.237640,269.072601,349.869995,457.455139

In [9]:
# [{'color': value} for value in colors]
symbol_names_for_inserting = data.columns
for i in symbol_names_for_inserting:
    print(i)

AAPL
AMZN
BRK-B
FB
GOOG
GOOGL
MSFT
NVDA
TSLA
UNH

In [10]:
from app.hello import db
from app.models import Price, Symbol

In [11]:
db.drop_all()
db.create_all()

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [14]:
# symbol =Symbol()
# with db.engine.connect() as conn:
#     conn.execute(symbol.insert(), symbol_names_for_inserting)

In [6]:
db.session.close()
db.session.rollback()

In [39]:
print(symbol_names_for_inserting)
for ticker in symbol_names_for_inserting:
    symbol_name = Symbol(symbol_name=ticker)
    db.session.add(symbol_name)
try:
    db.session.commit()
except:
    db.session.rollback()
    raise
finally:
    db.session.close()

Index(['AAPL', 'AMZN', 'BRK-B', 'FB', 'GOOG', 'GOOGL', 'MSFT', 'NVDA', 'TSLA',
       'UNH'],
      dtype='object')

In [6]:
# Symbol.query.delete()
# db.session.commit()

In [40]:
from app.models import Price
from app.models import Symbol
# from datetime import datetime

In [20]:
price = 15.0
ticker = 'FB'
date = '02.04.2022'
# symbol_id =

In [21]:
# aapl_price = Price(date=date, symbol_name=ticker, price=aapl_price)
fb_prices = Price(date=date, 
                  symbol_name=ticker, 
                  price=fb_price, 
                  symbol_id = Symbol.query.filter_by(symbol_name=ticker).first().id )
# fb_prices = Price(symbol_id=fb_prices.id)
fb_prices

In [22]:
# query_symbol = Symbol.query.filter_by(symbol_name=ticker).first()
Symbol.query.filter_by(symbol_name=ticker)

In [23]:
db.session.rollback()

In [23]:
db.session.add(fb_prices)

In [24]:
db.session.commit()

In [19]:
print(len(Symbol.query.all()))
Symbol.query.all()

10

[<Symbol AAPL>,
 <Symbol AMZN>,
 <Symbol BRK-B>,
 <Symbol FB>,
 <Symbol GOOG>,
 <Symbol GOOGL>,
 <Symbol MSFT>,
 <Symbol NVDA>,
 <Symbol TSLA>,
 <Symbol UNH>]

In [11]:
data

,AAPL,AMZN,BRK-B,FB,GOOG,GOOGL,MSFT,NVDA,TSLA,UNH
Date,,,,,,,,,,
2022-01-03,181.778397,3408.090088,300.790009,338.540009,2901.489990,2899.830078,334.059265,301.158691,1199.780029,500.798035
2022-01-04,179.471344,3350.439941,308.529999,336.529999,2888.330078,2887.989990,328.331116,292.850098,1149.589966,489.451599
2022-01-05,174.697418,3287.139893,309.920013,324.170013,2753.070068,2755.500000,315.727173,275.992981,1088.119995,488.245178
2022-01-06,171.781143,3265.080078,313.220001,332.459991,2751.020020,2754.949951,313.232330,281.731995,1064.699951,468.264282
2022-01-07,171.950928,3251.080078,319.779999,331.790009,2740.090088,2740.340088,313.391998,272.423584,1026.959961,457.246918
2022-01-10,171.970901,3229.719971,318.929993,328.070007,2771.479980,2773.389893,313.621521,273.953339,1058.119995,463.628021
2022-01-11,174.857224,3307.239990,319.799988,334.369995,2800.350098,2794.719971,314.330078,278.122620,1064.400024,467.616211
2022-01-12,175.306641,3304.139893,320.390015,333.260010,2832.959961,2828.610107,317.613251,279.942291,1106.219971,472.322296
2022-01-13,171.970901,3224.280029,321.260010,326.480011,2782.620117,2771.739990,304.171051,265.704742,1031.560059,466.050842
2022-01-14,172.849792,3242.760010,324.130005,331.899994,2795.729980,2789.610107,309.559937,269.374115,1049.609985,467.307129

In [24]:
# for symbol in Symbol.query.all():
#     print(symbol.symbol_name)
db.session.close()

In [41]:
symbols = Symbol.query.all()
for symbol in symbols:
    ticker = symbol.symbol_name
    for date,price in zip(data[ticker].index, data[ticker]):
        symbol_price = Price(date=date, 
                             symbol_name=symbol.symbol_name, 
                             price=price, 
                             symbol_id = Symbol.query.filter_by(symbol_name=symbol.symbol_name).first().id )
        db.session.add(symbol_price)
        db.session.commit()
db.session.close()

In [68]:
# data = get_data(sp10)
data.head(10)
data.AAPL.index
for i,j in zip(data.AAPL.index, data.AAPL):
    print(i,j)

2022-01-03 00:00:00 181.7783966064453
2022-01-04 00:00:00 179.47134399414062
2022-01-05 00:00:00 174.69741821289062
2022-01-06 00:00:00 171.78114318847656
2022-01-07 00:00:00 171.950927734375
2022-01-10 00:00:00 171.9709014892578
2022-01-11 00:00:00 174.8572235107422
2022-01-12 00:00:00 175.306640625
2022-01-13 00:00:00 171.9709014892578
2022-01-14 00:00:00 172.84979248046875

In [17]:
def sum_mix(arr):
    index = 0
    for i in arr:
        if type(i) != int:
            arr[index] = int(i)
        index+=1
    return sum(arr)

sum_mix([9, 3, '7', '3'])

9
3
7
3

22

In [21]:
def century(year):
    if year < 100:
        return 1
    elif 100 < year < 1000 :
        print(year)
        return  year // 100 + 1
    elif 1000 < year < 1900 :
        return year // 100 + 1
    else: return year // 100

century(356)

356

4