In [1]:
a = {1,2,3,4}
b = {4}
print(len(a&b))

1

In [1]:
import yfinance as yf

In [54]:
data = yf.download("AAPL ALGN EPAM", start="2022-01-01")['Adj Close']
data.head()

[*********************100%***********************]  3 of 3 completed

                  AAPL        ALGN        EPAM
Date
2021-12-31  177.344055  657.179993  668.450012
2022-01-03  181.778397  648.049988  642.200012
2022-01-04  179.471344  623.500000  618.710022
2022-01-05  174.697418  578.840027  587.799988
2022-01-06  171.781143  567.619995  579.049988

In [3]:
tickers_info = yf.Tickers("AAPL ALGN EPAM")
tickers_info.tickers['AAPL'].info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 100000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408 996 1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.33890998,
 'profitMargins': 0.26579002,
 'grossMargins': 0.43019,
 'operatingCashflow': 112241000448,
 'revenueGrowth': 0.112,
 'operatingMargins': 0.309,
 'ebitda': 128217997312,
 'targetLowPrice': 160,
 'recommendationKey': 'buy',
 'grossProfits': 152836000000,
 'freeCashflow': 80153247744,
 'targetMedianPrice': 199.5,
 'currentPrice': 174.61,
 'earningsGrowth': 0.25,
 'currentRatio': 1.038,
 'returnOnAssets': 0.19875,
 'numberOfAnalystOpinions': 44,
 'targetMeanPrice': 193.53,
 'debtToEquity': 170.714,
 'returnOnEquity': 1.45567,
 'targetHighPrice': 215,
 'totalCash': 63913000960,
 'totalDebt': 122797998080,
 'totalRevenue': 378323009536,
 'totalCashPerShare': 3.916,
 'financialCurrency': 'USD',
 'revenuePerShare': 22.838,
 'quickRatio': 0.875,
 'recommendationMean': 1.8,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.701,
 'beta3Year': None,
 'enterpriseToEbitda': 22.722,
 '52WeekChange': 0.38689435,
 'morningStarRiskRating': None,
 'forwardEps': 6.56,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16319399936,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 4.402,
 'sharesShort': 111286790,
 'sharesPercentSharesOut': 0.0068,
 'fundFamily': None,
 'lastFiscalYearEnd': 1632528000,
 'heldPercentInstitutions': 0.59398,
 'netIncomeToCommon': 100554997760,
 'trailingEps': 6.015,
 'lastDividendValue': 0.22,
 'SandP52WeekChange': 0.1109637,
 'priceToBook': 39.66606,
 'heldPercentInsiders': 0.0007,
 'nextFiscalYearEnd': 1695600000,
 'yield': None,
 'mostRecentQuarter': 1640390400,
 'shortRatio': 1.21,
 'sharesShortPreviousMonthDate': 1644883200,
 'floatShares': 16302795170,
 'beta': 1.185531,
 'enterpriseValue': 2913318469632,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1643932800,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.204,
 'priceToSalesTrailing12Months': 7.6683426,
 'dateShortInterest': 1647302400,
 'pegRatio': 1.91,
 'ytdReturn': None,
 'forwardPE': 26.617378,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0068,
 'sharesShortPriorMonth': 108944701,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 177.77,
 'regularMarketOpen': 177.84,
 'twoHundredDayAverage': 156.498,
 'trailingAnnualDividendYield': 0.0048658377,
 'payoutRatio': 0.1434,
 'volume24Hr': None,
 'regularMarketDayHigh': 178.03,
 'navPrice': None,
 'averageDailyVolume10Day': 95589330,
 'regularMarketPreviousClose': 177.77,
 'fiftyDayAverage': 166.825,
 'trailingAnnualDividendRate': 0.865,
 'open': 177.84,
 'toCurrency': None,
 'averageVolume10days': 95589330,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1643932800,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 174.4,
 'currency': 'USD',
 'trailingPE': 29.029095,
 'regularMarketVolume': 100337689,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2901110423552,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 95420890,
 'dayLow': 174.4,
 'ask': 0,
 'askSize': 900,
 'volume': 100337689,
 'fiftyTwoWeekHigh': 182.94,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.11,
 'fiftyTwoWeekLow': 122.25,
 'bid': 0,
 'tradeable': False,
 'dividendYield': 0.005,
 'bidSize': 4000,
 'dayHigh': 178.03,
 'regularMarketPrice': 174.61,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/apple.com',
 'trailingPegRatio': 3.4758}

In [2]:
sp10="AAPL MSFT AMZN GOOGL GOOG TSLA NVDA BRK-B FB UNH"
def get_data(stock):
    data = yf.download(stock, start="2022-01-04", end="2022-01-15")
    return data['Adj Close']

In [3]:
data = get_data(sp10)
data.head(10)

[*********************100%***********************]  10 of 10 completed

,AAPL,AMZN,BRK-B,FB,GOOG,GOOGL,MSFT,NVDA,TSLA,UNH
Date,,,,,,,,,,
2022-01-03,181.778397,3408.090088,300.790009,338.540009,2901.489990,2899.830078,334.059265,301.158691,1199.780029,500.798035
2022-01-04,179.471344,3350.439941,308.529999,336.529999,2888.330078,2887.989990,328.331116,292.850098,1149.589966,489.451599
2022-01-05,174.697418,3287.139893,309.920013,324.170013,2753.070068,2755.500000,315.727173,275.992981,1088.119995,488.245178
2022-01-06,171.781143,3265.080078,313.220001,332.459991,2751.020020,2754.949951,313.232330,281.731995,1064.699951,468.264282
2022-01-07,171.950928,3251.080078,319.779999,331.790009,2740.090088,2740.340088,313.391998,272.423584,1026.959961,457.246918
2022-01-10,171.970901,3229.719971,318.929993,328.070007,2771.479980,2773.389893,313.621521,273.953339,1058.119995,463.628021
2022-01-11,174.857224,3307.239990,319.799988,334.369995,2800.350098,2794.719971,314.330078,278.122620,1064.400024,467.616211
2022-01-12,175.306641,3304.139893,320.390015,333.260010,2832.959961,2828.610107,317.613251,279.942291,1106.219971,472.322296
2022-01-13,171.970901,3224.280029,321.260010,326.480011,2782.620117,2771.739990,304.171051,265.704742,1031.560059,466.050842
2022-01-14,172.849792,3242.760010,324.130005,331.899994,2795.729980,2789.610107,309.559937,269.374115,1049.609985,467.307129

In [8]:
# [{'color': value} for value in colors]
symbol_names_for_inserting = data.columns
for i in symbol_names_for_inserting:
    print(i)

AAPL
AMZN
BRK-B
FB
GOOG
GOOGL
MSFT
NVDA
TSLA
UNH

In [4]:
from app.hello import db
from app.models import Price, Symbol

In [30]:
db.drop_all()
db.create_all()

In [14]:
# symbol =Symbol()
# with db.engine.connect() as conn:
#     conn.execute(symbol.insert(), symbol_names_for_inserting)

In [6]:
db.session.close()
db.session.rollback()

In [31]:
print(symbol_names_for_inserting)
for ticker in symbol_names_for_inserting:
    symbol_name = Symbol(symbol_name=ticker)
    db.session.add(symbol_name)
try:
    db.session.commit()
except:
    db.session.rollback()
    raise
finally:
    db.session.close()

Index(['AAPL', 'AMZN', 'BRK-B', 'FB', 'GOOG', 'GOOGL', 'MSFT', 'NVDA', 'TSLA',
       'UNH'],
      dtype='object')

In [6]:
# Symbol.query.delete()
# db.session.commit()

In [10]:
from app.models import Price
from app.models import Symbol
# from datetime import datetime

In [20]:
price = 15.0
ticker = 'FB'
date = '02.04.2022'
# symbol_id =

In [21]:
# aapl_price = Price(date=date, symbol_name=ticker, price=aapl_price)
fb_prices = Price(date=date, 
                  symbol_name=ticker, 
                  price=fb_price, 
                  symbol_id = Symbol.query.filter_by(symbol_name=ticker).first().id )
# fb_prices = Price(symbol_id=fb_prices.id)
fb_prices

In [22]:
# query_symbol = Symbol.query.filter_by(symbol_name=ticker).first()
Symbol.query.filter_by(symbol_name=ticker)

In [23]:
db.session.rollback()

In [23]:
db.session.add(fb_prices)

In [24]:
db.session.commit()

In [19]:
print(len(Symbol.query.all()))
Symbol.query.all()

10

[<Symbol AAPL>,
 <Symbol AMZN>,
 <Symbol BRK-B>,
 <Symbol FB>,
 <Symbol GOOG>,
 <Symbol GOOGL>,
 <Symbol MSFT>,
 <Symbol NVDA>,
 <Symbol TSLA>,
 <Symbol UNH>]

In [11]:
data

,AAPL,AMZN,BRK-B,FB,GOOG,GOOGL,MSFT,NVDA,TSLA,UNH
Date,,,,,,,,,,
2022-01-03,181.778397,3408.090088,300.790009,338.540009,2901.489990,2899.830078,334.059265,301.158691,1199.780029,500.798035
2022-01-04,179.471344,3350.439941,308.529999,336.529999,2888.330078,2887.989990,328.331116,292.850098,1149.589966,489.451599
2022-01-05,174.697418,3287.139893,309.920013,324.170013,2753.070068,2755.500000,315.727173,275.992981,1088.119995,488.245178
2022-01-06,171.781143,3265.080078,313.220001,332.459991,2751.020020,2754.949951,313.232330,281.731995,1064.699951,468.264282
2022-01-07,171.950928,3251.080078,319.779999,331.790009,2740.090088,2740.340088,313.391998,272.423584,1026.959961,457.246918
2022-01-10,171.970901,3229.719971,318.929993,328.070007,2771.479980,2773.389893,313.621521,273.953339,1058.119995,463.628021
2022-01-11,174.857224,3307.239990,319.799988,334.369995,2800.350098,2794.719971,314.330078,278.122620,1064.400024,467.616211
2022-01-12,175.306641,3304.139893,320.390015,333.260010,2832.959961,2828.610107,317.613251,279.942291,1106.219971,472.322296
2022-01-13,171.970901,3224.280029,321.260010,326.480011,2782.620117,2771.739990,304.171051,265.704742,1031.560059,466.050842
2022-01-14,172.849792,3242.760010,324.130005,331.899994,2795.729980,2789.610107,309.559937,269.374115,1049.609985,467.307129

In [24]:
# for symbol in Symbol.query.all():
#     print(symbol.symbol_name)
db.session.close()

In [32]:
symbols = Symbol.query.all()
for symbol in symbols:
    print(symbol.symbol_name)
    ticker = symbol.symbol_name
    print(symbol.symbol_name)
    for date,price in zip(data[ticker].index, data[ticker]):
        print(symbol.symbol_name)
        symbol_price = Price(date=date, 
                             symbol_name=symbol.symbol_name, 
                             price=price, 
                             symbol_id = Symbol.query.filter_by(symbol_name=symbol.symbol_name).first().id )
        db.session.add(symbol_price)
    # try:
        db.session.commit()
    # except:
    #     db.session.rollback()
    #     raise
    # finally:
db.session.close()

AAPL
AAPL
AAPL
AAPL
AAPL
AAPL
AAPL
AAPL
AAPL
AAPL
AAPL
AAPL
AMZN
AMZN
AMZN
AMZN
AMZN
AMZN
AMZN
AMZN
AMZN
AMZN
AMZN
AMZN
BRK-B
BRK-B
BRK-B
BRK-B
BRK-B
BRK-B
BRK-B
BRK-B
BRK-B
BRK-B
BRK-B
BRK-B
FB
FB
FB
FB
FB
FB
FB
FB
FB
FB
FB
FB
GOOG
GOOG
GOOG
GOOG
GOOG
GOOG
GOOG
GOOG
GOOG
GOOG
GOOG
GOOG
GOOGL
GOOGL
GOOGL
GOOGL
GOOGL
GOOGL
GOOGL
GOOGL
GOOGL
GOOGL
GOOGL
GOOGL
MSFT
MSFT
MSFT
MSFT
MSFT
MSFT
MSFT
MSFT
MSFT
MSFT
MSFT
MSFT
NVDA
NVDA
NVDA
NVDA
NVDA
NVDA
NVDA
NVDA
NVDA
NVDA
NVDA
NVDA
TSLA
TSLA
TSLA
TSLA
TSLA
TSLA
TSLA
TSLA
TSLA
TSLA
TSLA
TSLA
UNH
UNH
UNH
UNH
UNH
UNH
UNH
UNH
UNH
UNH
UNH
UNH

In [68]:
# data = get_data(sp10)
data.head(10)
data.AAPL.index
for i,j in zip(data.AAPL.index, data.AAPL):
    print(i,j)

2022-01-03 00:00:00 181.7783966064453
2022-01-04 00:00:00 179.47134399414062
2022-01-05 00:00:00 174.69741821289062
2022-01-06 00:00:00 171.78114318847656
2022-01-07 00:00:00 171.950927734375
2022-01-10 00:00:00 171.9709014892578
2022-01-11 00:00:00 174.8572235107422
2022-01-12 00:00:00 175.306640625
2022-01-13 00:00:00 171.9709014892578
2022-01-14 00:00:00 172.84979248046875